body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 36px;
  margin: 0;
}

a, a:hover {
  text-decoration: none;
}

.navbar {
  width: 100%;
  background-color: #232323;
  color: #efefef;
}

.navbar a {
  color: #efefef;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navitem {
  display: inline-block;
  margin: 10px;
}

.right {
  float: right;
}


@media(max-width: 800px) {
  .navbar {
    background-color: green;
    font-size: 42px;
  }
}

@media(max-width: 600px) {
  .navbar {
    background-color: red;
    font-size: 48px;
  }

  .right {
    float: none;
  }

  .navitem {
    display: block;
  }
}
